<h1>Welcome#index</h1>
<div id="user_nav">
	<% if user_signed_in? %>
	Signed in as <%= current_user.email %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
	<% end %>
</div>
 User list
<div id="users">
	<%for user in @users %>
	<div class="user">
		<p>
			<strong><%= user.email%></strong>
			<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
		</p>
	</div>
	<%end%>
</div>

