<div class="container">
<div class="row" id="user_nav">
	<% if flash[:notice]%>
	<%= flash[:notice] %>
	<%end%>
	<% if user_signed_in? %>
	<div class="col-xs-12 sign">
	Signed in as <%= current_user.email %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
	</div>
	<% end %>
</div>
<div>
	
	<strong>Friend Requests</strong><br/>
	<% @a=Friendship.where(:friend_id => current_user, :status => 0) %>

	<%#  @u=Friendship.all %>
	<% @a.each do |f1|%>
	<%= f1.user.email%>
	<%= link_to "Add", :controller=> "friendships", :action=> "add_friend", :id => f1.user_id %>
	<%= link_to "Reject", :controller=> "friendships", :action=> "reject_friend", :id => f1.user_id%>
	<%= link_to "Block", :controller=> "friendships", :action=> "block_friend", :id => f1.user_id %>

	<%end%>
</div>
<br/><br/>
<h2>All Users:-</h2>

<div class="row user-list">
<div class="col-xs-12 user">
	<% @notcurrent.each do |user| %>
	<% @a=user.friendships %>
	<% @s=@a.where(:friend_id => current_user) %>
	<% @b=@s.include?(:status => 2) %>
	<% if !user.friendships.where(:friend_id =>current_user).present? %>
	<strong><%= user.email%></strong>
	<% if @friendships1.include?(user.id) || @b.present?%>
	<%= link_to "Request Sent"%><br/>
	<% else  %>
	<%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %><br/>
	<%end%>
	<%end%>
	<% end %>
	</div>

</div>


</div>